<!--Le loading screen-->
<ng-container *ngIf="loading$ | async">
    <div class="overlay">
        <div>
            <div class="loader"></div>
            <div class="loader"></div>
            <div class="loader"></div>
            <div class="loader"></div>
            <div class="loader"></div>
        </div>
    </div>
</ng-container>

<!--La page quand l'utilisateur est connecté-->
<div *ngIf="getUser()">
    <!--header-->
    <div class="header-wrapper">
        <fieldset class="tags-fieldset">
            <legend>Choose filter option :</legend>
            <button class="button" [ngClass]="{'selectedButton' : allTagButton === true}" (click)="listAllIssues()">All</button>
            <button class="button" [ngClass]="{'selectedButton' : workaroundTagButton === 'workaround'}" (click)="listWorkaroundIssues()">Workaround</button>
            <button class="button" [ngClass]="{'selectedButton' : workaroundTagButton === 'noworkaround'}" (click)="listNoWorkaroundIssues()">No Workaround</button>
            <button class="button" [ngClass]="{'selectedButton' : closeTagButton === 'closed'}" (click)="listClosedIssues()">Close</button>
            <button class="button" [ngClass]="{'selectedButton' : closeTagButton === 'notclosed'}" (click)="listNotClosedIssues()">Not Close</button>
            <p *ngIf="hiddentags">Show more options<button (click)="showHiddenTags()" class="button button-selector">+</button></p>
            <p *ngIf="!hiddentags">Hide more options<button (click)="hideHiddenTags()" class="button button-selector">-</button></p>
            <ng-container *ngIf="!hiddentags">
                <ng-container *ngFor="let tag of allTags">
                    <button class="button" [ngClass]="{'selectedButton' : otherTagButton === tag.tag}" (click)="listTagIssues(tag.tag)">{{ tag.tag }}</button>
                </ng-container>
            </ng-container>
        </fieldset>
        <div class="button-wrapper">
            <button class="button" (click)="saveDataInCSV()">Download<br>CSV</button>
            <button class="button" (click)="refreshIssues()">Refresh Data</button>
            <button *ngIf="getUser() == admin" class="button" (click)="refreshUsers()">Refresh Users</button>
        </div>
    </div>
    <div class="metadata-wrapper">Ivv Tools finds {{ issues.length }} bugs {{ displayText }}. </div>
    <!--table-->
    <table class="table">

        <tr>
            <th>N°</th>
            <th>Title</th>
            <th>Link</th>
            <th>Workaround</th>
            <th>Created at</th>
            <th>Closed at</th>
        </tr>
        <tr *ngFor="let issue of issues.slice().reverse()">
            <td>{{ issue.number }}</td>
            <td>{{ issue.title }}</td>
            <td><a href="{{ issue.link }}" target="_blank">See more</a></td>
            <td *ngIf="issue.workaround" class="good">Workaround</td>
            <td *ngIf="!issue.workaround" class="notgood">Need a fix</td>
            <td>{{ issue.creation }}</td>
            <td *ngIf="issue.closure" class="good">{{ issue.closure }}</td>
            <td *ngIf="!issue.closure" class="notgood">Not close</td>
        </tr>
    </table>
</div>

<!--La page quand l'utilisateur n'est pas connecté-->
<div class="text-wrapper" *ngIf="!getUser()">
    <p class="already-connected">Sorry, you're not allowed to access this page if you're not registered :</p>
    <button class="button" routerLink="/connect" routerLinkActive="actif">CONNECT</button>
</div>