/*Le style pour disposer les éléments au centre de la page*/

.form-wrapper {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    margin-top: 150px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}


/*Le style pour que les élèments soit moins large sur mobile*/

@media (max-width: 610px) {
    .form-wrapper {
        width: 300px;
    }
}


/*Le style du texte*/

label,
.already-connected {
    font-size: 2rem;
    color: #4088a0;
    margin-top: 20px;
    margin-bottom: 20px;
}


/*Le style pour la bordure des input et l'intérieur des inputs*/

input {
    font-size: 1.5rem;
    padding: 5px;
    width: 500px;
    border-color: rgb(78, 213, 243);
    border-width: 1px;
    border-style: solid;
    margin-bottom: 20px;
    color: #08698a;
}


/*Le style pour que les élèments soit moins large sur mobile*/

@media (max-width: 610px) {
    input {
        width: 300px;
    }
}


/*Le style pour la bordure des input et l'intérieur des inputs quand la saisis est invalide*/

input:invalid {
    border: 1px solid lightgray;
}


/*Le style pour centrer le bouton connect*/

.button-wrapper {
    align-items: center;
    text-align: center;
}


/*Le style pour dire l'apparence du bouton*/

.button-connect {
    text-decoration: none;
    margin-top: 50px;
    font-size: 2rem;
    color: white;
    background-color: #08698a;
    padding: 20px;
    width: auto;
}


/*Le style pour dire l'apparence du bouton quand on met la souris dessus*/

.button-connect:hover {
    background-color: #8eb9eb;
    color: #08698a;
}


/*Le style pour le texte des alertes*/

.alert {
    margin: 0;
    margin-left: 10px;
    padding: 0;
    text-align: left;
    color: rgb(180, 61, 37);
}


/*Le style pour le texte quand l'utilisateur n'a pas le droit d'accéder à la page web.*/

.text-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 250px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}