<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IVV Tools</title>
</head>

<body>
    <!--Header-->
    <header>
        <img class="logo" src="./../assets/logo-cs-group.png">
    </header>
    <!--Page content-->
    <router-outlet></router-outlet>
    <!--Footer-->
    <footer>
        <div class="footer-menu">
            <div>
                <p class="footer-text">IVV TOOLS</p>
            </div>
            <div>
                <button (click)="disconnect()" class="footer-button" *ngIf="getUser()">Sign out</button>
            </div>
        </div>
    </footer>
</body>

</html>